html, body {
    margin: 0; 
    padding: 0;
    background: #E6E6E6;
}

.logo {
    margin: 40px;
}

.hero-description {
    display: flex;
    align-items: flex-start;
    height: auto;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 96px; 
    margin-right: 96px; 
}

.bottom-section {
    margin-left: 96px; 
    margin-right: 96px; 
}

.blue-line {
    width: 5px;
    background-color: #5773FF;
    margin-right: 20px;
    height: 100%;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section-left {
    flex: 1;
    padding: 20px; 
}

.hero-section-right {
    flex: 1;
    padding: 20px;
}

.hero-image {
    max-width: 100%;
    height: auto;
}

.first-image {
    margin-bottom: 12px;
}

.hero-heading {
    width: 501px;
    height: 126px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.hero-heading-two {
    width: 156px;
    height: 36px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.divider {
    height: 1px;
    background-color: rgba(0,0,0,0.07);
    width: 100%;
    margin: 10px 0;
}

.divider-heading {
    height: 1px;
    background-color: rgba(0,0,0,0.07);
    width: 100%;
}

.divider-card {
    height: 1px;
    background-color: rgba(0,0,0,0.07);
    width: 65%;
    margin: 10px 0;
}

.hero-heading-three {
    width: 549.5px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31.2px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 1;
    position: relative;
    padding-left: 15px;
}

.hero-heading-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #5773FF; 
}

.hero-span {
    color: #5773FF;
}

.blue-text-heading {
    width: 1115px;
    height: 62px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    margin-left: 2%;
    font-size: 48px;
    line-height: 130%;
    color: #5773FF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.button-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 8px;
    border: none;
    min-width: 140px;
    max-width: 361px;
    height: 56px;
    background: #5773FF;
    border-radius: 72px;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 74px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.video-cards-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.video-container {
    flex: 1;
    margin-right: 20px;
}

.collapsible {
    width: 364px;
    height: 31px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    text-align: left;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #5773FF;
    border: none;
    background: none;
}

.content {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: -2%;
    margin-bottom: 2%;
}

.arrow {
    margin-right: 5px;
    transition: transform 0.3s;
}

.progress-container-vertical {
    position: relative;
    width: 5px;
    margin: 0 20px;
    margin-top: -.8%;
    padding: 8px;
    gap: 10px;
    height: 510px;
    background: #FFFFFF;
    border-radius: 9999px;
    margin-right: 4%;
}

.progress-container-horizontal {
    display: none;
}

.progress-horizontal {
    display: none;
}

.progress-vertical {
    position: relative;
    width: 1px;
    background-color: #007bff;
    transition: height 0.3s;
    border-radius: 12px;
    padding: 2px;
    bottom: 2px;
}

.mobile-images {
    display: none;
}

.collapsible-cards {
    flex: 1;
}

.custom-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 64px;
    background: #000000;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    color: white;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.32px;
    left: 0;
    right: 0;
}

@media (max-width: 480px) {
    html, body {
        margin: 0; 
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .bottom-section {
        margin-left: 20px; 
        margin-right: 20px; 
    }

    .hero-section {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
        margin-right: 20px;
    }

    .hero-section-left, .hero-section-right {
        padding: 10px;
        width: 100%;
        margin-right: 20px !important;
        margin-left: -10px !important;
    }

    .blue-text-heading {
        font-size: 32px;
        margin-left: 0;
        margin-bottom: 12%;
        line-height: 41.6px;
        width: 100%;
    }

    .hero-heading-three{
        width: 100%;
        font-size: 20px;
        line-height: 24px;
    }

    .hero-heading {
        width: 100%;
        margin-bottom: 15%;
        font-size: 24px
    }

    .hero-heading-two {
        margin-top: -20%;
        font-size: 20px;
    }

    .button-hero {
        width: 100%;
        max-width: 124px;
        height: 38px;
        font-size: 14px;
    }

    .video-cards-section {
        flex-direction: column;
    }

    .video-container {
        margin-right: 0; 
        margin-bottom: 20px; 
        width: 100% !important;
    }

    .collapsible {
        font-size: 20px;
        width: 100%;
    }

    .content {
        font-size: 16px;
        line-height: 24px;
    }

    .custom-footer {
        font-size: 10px;
    }

    #swingVideo {
        width: 100%;
        height: auto;
    }

    .progress-container-vertical {
        display: none;
    }

    .progress-vertical {
        display: none;
    }

    .progress-container-horizontal {
        display: flex;
        position: relative;
        width: 95%;
        padding: 8px;
        gap: 10px;
        height: 0px;
        background: #FFFFFF;
        border-radius: 9999px;
        margin-bottom: 6%;
    }
    
    .progress-horizontal {
        display: flex;
        position: relative;
        width: 1px;
        background-color: #007bff;
        transition: height 0.3s;
        border-radius: 12px;
        padding: 2px;
        bottom: 2px;
    }

    .logo {
        display: none;
    }

    .second-image {
        display: none;
    }

    .divider-heading {
        margin-top: 22%;
        margin-bottom: -5%;
    }

    .divider {
        margin-top: -2%;
        margin-bottom: -2%;
    }

    .mobile-images {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}